:root {
    --white: #fff;
    --black: #000;

    --_white: #eae5ee;
    --_black: #0c0c15;
    --_1: #5646a9;
    --_2: #584778;
    --_3: #5992f4;
    --_4: #332b68;
    --_5: #9e5cf8;
    --_6: #1e1e3e;
    --_7: #374d60;
    
    --__1: #0f0529;
    --__2: #4a2574;
    --__3: #7338a0;
    --__4: #924dbf;
    --__5: #9e72c3;
    
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
	height:100%;
}

/*
=========================
    Animations
=========================
*/



/*
=========================
	Dynamic Displays
=========================
*/