{% extends "soundit/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'soundit/css/about.css' %}">
{% endblock %}

{% block body %}
    <main>
        <div>
            <h1>
                <span>Soundit</span> and feel the music!
            </h1>
            <p>
                Web application that solves real life problem! Transfer your music between <span style="color: var(--spotify);">Spotify</span> and <span style="color: var(--youtube);">YouTube</span> in just seconds. Created by Benedykt from <span id="poland">Poland</span>.
            </p>
        </div>
    </main>
{% endblock %}

{% block javascript %}
{% endblock %}