{% extends "soundit/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'soundit/css/index.css' %}">
{% endblock %}

{% block body %}

    <section class="section-1">
        <div class="container">

            <h1>
                Transfer songs & playlists from
                <br>
                <span class="spotify">Spotify</span> to
                <span class="youtube">YouTube</span>
            </h1>

            <h2>
                Convert your favorites songs and playlists from Spotify to YouTube.
                Quickly and easily transfer your songs between different music services with Soundit.
            </h2>

        </div>
    </section>

    <section class="section-2">
        <div class="container">

            <div class="logos-title">
                <p>Popular music services</p>
            </div>

            <div class="logos-div">
                <div class="logo-element">a</div>
                <div class="logo-element">a</div>
                <div class="logo-element">a</div>
                <div class="logo-element">a</div>
                <div class="logo-element">a</div>
                <div class="logo-element">a</div>
            </div>

        </div>
    </section>

    <section class="section-3">
        <div class="container">

            <div class="services-div">
                <h2><span class="amount">1 </span>Available conversions</h2>
    
                <p>Search for available music services on Soundit using the list below.</p>
            </div>
            
            <div>
                <input type="text" placeholder="Search for music service">
    
                <a href="#">
                    <div>Spotify</div>
                </a>
                <a href="#">
                    <div>Youtube</div>
                </a>
            </div>

        </div>
    </section>

{% endblock %}