{% extends "soundit/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'soundit/css/index.css' %}">
    <script src="{% static 'soundit/js/index.js' %}"></script>
{% endblock %}

{% block body %}

    <section class="section-1">
        <div class="container">

            <h1>
                Transfer songs & <span class="nowrap">playlists from</span>
                <br>
                <span class="spotify">Spotify</span> to
                <span class="youtube">YouTube</span>
            </h1>

            <h3>
                Quickly convert your favorites songs and playlists
                between different music services with Soundit.
            </h3>

            <div class="app-info">
                <div>
                    <i class="fa-regular fa-star"></i>
                    <span>2k+ Five-Star Reviews</span>
                </div>
                <div>
                    <i class="fa-regular fa-circle-check"></i>
                    <span>100% Secure</span>
                </div>
                <div>
                    <i class="fa-solid fa-shield-halved"></i>
                    <span>Trusted by Over 2m+ Music Enjoyers</span>
                </div>
            </div>

        </div>
    </section>

    <section class="section-2">
        <div class="container">

            <div class="logos-title">
                <p>Popular music services</p>
            </div>

            <div class="logos-div">

                <div class="logos-track">
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Spotify-Logo.wine.svg' %}" alt="Spotify logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Youtube-Logo.wine.svg' %}" alt="Youtube logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Napster-Logo.wine.svg' %}" alt="Napster logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Beats-Logo.wine.svg' %}" alt="Beats logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Apple_Music-Logo.wine.svg' %}" alt="Apple Music logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/SoundCloud-Logo.wine.svg' %}" alt="SoundCloud logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Youtube_Music-Logo.wine.svg' %}" alt="Youtube Music logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Deezer-Logo.wine.svg' %}" alt="Deezer logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Pandora_Radio-Logo.wine.svg' %}" alt="Pandora logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Tidal-Logo.wine.svg' %}" alt="Tidal logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/logo/Last.fm-Logo.wine.svg' %}" alt="Last fm logo">
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="section-3">
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 243">
                <path fill="#222633" fill-opacity="1" d="M0,192L18.5,181.3C36.9,171,74,149,111,138.7C147.7,128,185,128,222,160C258.5,192,295,256,332,240C369.2,224,406,128,443,122.7C480,117,517,203,554,213.3C590.8,224,628,160,665,160C701.5,160,738,224,775,234.7C812.3,245,849,203,886,165.3C923.1,128,960,96,997,69.3C1033.8,43,1071,21,1108,48C1144.6,75,1182,149,1218,165.3C1255.4,181,1292,139,1329,138.7C1366.2,139,1403,181,1422,202.7L1440,224L1440,0L1421.5,0C1403.1,0,1366,0,1329,0C1292.3,0,1255,0,1218,0C1181.5,0,1145,0,1108,0C1070.8,0,1034,0,997,0C960,0,923,0,886,0C849.2,0,812,0,775,0C738.5,0,702,0,665,0C627.7,0,591,0,554,0C516.9,0,480,0,443,0C406.2,0,369,0,332,0C295.4,0,258,0,222,0C184.6,0,148,0,111,0C73.8,0,37,0,18,0L0,0Z"></path>
            </svg>
        </div>
    </section>

    <section class="section-4">
        <div class="container">

            <div class="services-info">
                <h2><span class="amount">1 </span>Available Conversions</h2>
                
                <p>Search for available music services on Soundit.</p>
            </div>
            
            <label for="searchService" class="search-service">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <input id="searchService" type="text" placeholder="Search for music service">
            </label>
            
            <div class="services-div">
                <a href="#" class="service-link">
                    <div class="service">
                        <div>
                            <img class="mini-logo" src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="Spotify logo">
                            <img class="mini-logo" src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="Youtube logo">
                            <span>Spotify to YouTube</span>
                        </div>
                        <button class="service-btn">Convert</button>
                    </div>
                </a>
            </div>
            
        </div>
    </section>
    
    <section class="section-5">
        <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 237">
                <path fill="#222633" fill-opacity="1" d="M0,77L24,82.3C48,87,96,96,144,75.3C192,55,240,5,288,5.3C336,5,384,55,432,92C480,129,528,151,576,140C624,129,672,87,720,87.7C768,88,816,132,864,148.7C912,165,960,155,1008,128C1056,101,1104,59,1152,64C1200,69,1248,123,1296,122.7C1344,123,1392,69,1416,42.7L1440,16L1440,240L1416,240C1392,240,1344,240,1296,240C1248,240,1200,240,1152,240C1104,240,1056,240,1008,240C960,240,912,240,864,240C816,240,768,240,720,240C672,240,624,240,576,240C528,240,480,240,432,240C384,240,336,240,288,240C240,240,192,240,144,240C96,240,48,240,24,240L0,240Z"></path>
            </svg>
        </div>
    </section>
    
    <section class="section-6">
        <div class="container">

            <div class="reviews-box">

                <input type="radio" name="slider" id="s1" checked>
                <input type="radio" name="slider" id="s2">
                <input type="radio" name="slider" id="s3">
                <input type="radio" name="slider" id="s4">
                <input type="radio" name="slider" id="s5">

                <div class="cards">

                    <label for="s1" id="slide1">
                        <div class="card">
                            
                            <i class="fa-solid fa-quote-left"></i>
                            <i class="fa-solid fa-quote-right"></i>

                            <div class="card-text">
                                This website is incredible! It seamlessly converted my music between different services, saving me so much time and hassle. Highly recommend it for anyone needing to switch platforms!
                            </div>

                            <div>
                                <div class="card-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                                <div class="card-author">James</div>
                            </div>

                        </div>
                    </label>
                    <label for="s2" id="slide2">
                        <div class="card">
                            
                            <i class="fa-solid fa-quote-left"></i>
                            <i class="fa-solid fa-quote-right"></i>

                            <div class="card-text">
                                Wow! This website is a game-changer. I converted my entire music library in minutes without any issues. It's made transitioning between services so much easier. Highly impressed!
                            </div>

                            <div>
                                <div class="card-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                                <div class="card-author">Evelyn</div>
                            </div>

                        </div>
                    </label>
                    <label for="s3" id="slide3">
                        <div class="card">

                            <i class="fa-solid fa-quote-left"></i>
                            <i class="fa-solid fa-quote-right"></i>

                            <div class="card-text">
                                This service is a lifesaver! I was dreading having to manually convert my playlists, but this website made it effortless. It's intuitive, reliable, and saved me so much time.
                            </div>

                            <div>
                                <div class="card-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                                <div class="card-author">Emma</div>
                            </div>

                        </div>
                    </label>
                    <label for="s4" id="slide4">
                        <div class="card">
                            
                            <i class="fa-solid fa-quote-left"></i>
                            <i class="fa-solid fa-quote-right"></i>

                            <div class="card-text">
                                I'm absolutely loving this website! It converted my entire music library seamlessly, and the interface is so easy to navigate. It's exceeded all my expectations. Highly recommended!
                            </div>

                            <div>
                                <div class="card-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                                <div class="card-author">Michael</div>
                            </div>

                        </div>
                    </label>
                    <label for="s5" id="slide5">
                        <div class="card">

                            <i class="fa-solid fa-quote-left"></i>
                            <i class="fa-solid fa-quote-right"></i>
                            
                            <div class="card-text">
                                "I'm thrilled with how well this website works! It converted all my playlists without any glitches, and the process was quick and smooth. I highly recommend it to anyone needing to switch platforms!
                            </div>

                            <div>
                                <div class="card-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>

                                <div class="card-author">Matthew</div>
                            </div>

                        </div>
                    </label>
                    
                </div>

            </div>

        </div>
    </section>

    <section class="section-7">
        <div class="container">

            <div>
                SONGS TRANSFERED
            </div>

        </div>
    </section>
    
{% endblock %}