{% extends "soundit/layout.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'soundit/css/index.css' %}">
{% endblock %}

{% block body %}

    <section class="section-1">
        <div class="container">

            <h1>
                Transfer songs & <span class="nowrap">playlists from</span>
                <br>
                <span class="spotify">Spotify</span> to
                <span class="youtube">YouTube</span>
            </h1>

            <h2>
                Quickly convert your favorites songs and playlists
                between different music services with Soundit.
            </h2>

            <div class="app-info">
                <div>
                    <i class="fa-regular fa-star"></i>
                    <span>2k+ Five-Star Reviews</span>
                </div>
                <div>
                    <i class="fa-regular fa-circle-check"></i>
                    <span>100% Secure</span>
                </div>
                <div>
                    <i class="fa-solid fa-shield-halved"></i>
                    <span>Trusted by Over 2m+ Music Enjoyers</span>
                </div>
            </div>

        </div>
    </section>

    <section class="section-2">
        <div class="container">

            <div class="logos-title">
                <p>Popular music services</p>
            </div>

            <div class="logos-div">

                <div class="logos-track">
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Spotify-Logo.wine.svg' %}" alt="Spotify logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Youtube-Logo.wine.svg' %}" alt="Youtube logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Napster-Logo.wine.svg' %}" alt="Napster logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Beats-Logo.wine.svg' %}" alt="Beats logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Apple_Music-Logo.wine.svg' %}" alt="Apple Music logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/SoundCloud-Logo.wine.svg' %}" alt="SoundCloud logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Youtube_Music-Logo.wine.svg' %}" alt="Youtube Music logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Deezer-Logo.wine.svg' %}" alt="Deezer logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Pandora_Radio-Logo.wine.svg' %}" alt="Pandora logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Tidal-Logo.wine.svg' %}" alt="Tidal logo">
                    </div>
                    <div class="logo-element">
                        <img class="logo-img" src="{% static 'soundit/media/Last.fm-Logo.wine.svg' %}" alt="Last fm logo">
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="section-3">
        <div class="container">
            <img src="{% static 'soundit/media/wave-top.svg' %}" alt="">
        </div>
    </section>

    <section class="section-4">
        <div class="container">

            <div class="services-div">
                <h2><span class="amount">1 </span>Available conversions</h2>
    
                <p>Search for available music services on Soundit using the list below.</p>
            </div>
            
            <div>
                <input type="text" placeholder="Search for music service">
    
                <a href="#">
                    <div>Spotify</div>
                </a>
                <a href="#">
                    <div>Youtube</div>
                </a>
            </div>

        </div>
    </section>

    <section class="section-5">
        <div class="container">
            <img src="{% static 'soundit/media/wave-bottom.svg' %}" alt="">
        </div>
    </section>
    
    <section class="section-6">
        <div class="container">

            <div>
                FAQ
            </div>

        </div>
    </section>
    
{% endblock %}