{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'soundit/media/logo.png' %}">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'soundit/css/profile.css' %}">

    <!-- JavaScript -->
    <script src="{% static 'soundit/js/profile.js' %}"></script>

    <title>Soundit | Profile</title>
</head>
<body>

    <div class="profile">

        <div class="modal"></div>

        <div class="responsive-nav">

            <!-- Services Section -->

            <div class="services-wrapper">
                
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'soundit/media/logo.png' %}" alt="logo">
                    </a>
                </div>

                <div class="services">

                    <div class="service">
                        <img src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="spotify">
                    </div>
                    <div class="service">
                        <img src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="youtube">
                    </div>
                    <div class="add-service service">
                        <i class="fa-solid fa-plus"></i>
                    </div>

                </div>
            
            </div>
            
            <!-- Nav Section -->

            <div class="nav-wrapper">

                <div class="account">
                    <div>
                        <i class="fa-solid fa-circle-user"></i>
                        <span>{{ Username }}Username</span>
                    </div>
                    <div class="settings">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>
                
                <nav class="nav">

                    <div class="library">

                        <div class="lib-divider">
                            <span>Library</span>
                        </div>

                        <div class="lib-div">
                            <span>Playlists</span>
                            <div class="lib-num">{{ general.total.playlists }}</div>
                        </div>
                        <div class="lib-div">
                            <span>Tracks</span>
                            <div class="lib-num">{{ general.total.tracks }}</div>
                        </div>
                        <div class="lib-div">
                            <span>Albums</span>
                            <div class="lib-num">{{ general.total.albums }}</div>
                        </div>
                        <div class="lib-div">
                            <span>Artists</span>
                            <div class="lib-num">{{ general.total.artists }}</div>
                        </div>

                    </div>

                    <div class="statistics">

                        <div class="stats-divider">
                            <span>Statistics</span>
                        </div>

                        <div class="stats-div">
                            <span>Transfered playlists</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>
                        <div class="stats-div">
                            <span>Transfered tracks</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>
                        <div class="stats-div">
                            <span>Transfered albums</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>
                        <div class="stats-div">
                            <span>Transfered artists</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>

                    </div>

                </nav>

            </div>

        </div>
    
        <!-- Main Section -->

        <div class="main-wrapper">
            <main class="main">

                <div class="header">

                    <label for="toggle-mobile-nav" class="hamburger">
                        <input type="checkbox" id="toggle-mobile-nav">
                        <i class="fa-solid fa-bars" id="menu-icon"></i>
                    </label>

                    <div>
                        <h2>Playlists</h2>
                        <h5>
                            {{ general.total.playlists }} total | <span>0</span> selected
                        </h5>
                    </div>
                            
                </div>

                <div class="header2">
                    
                    <div class="header2-container">
                        <label class="select-div">
                            <input type="checkbox" class="select-all"></input>
                            <span class="checkmark"></span>
                        </label>
                        <div class="playlist-options">
                            <button type="button" class="playlist-option">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            </button>
                            <button type="button" class="playlist-option">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label for="searchPlaylist" class="search-playlist">
                            <div class="input-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <input id="searchPlaylist" type="text" placeholder="Search">
                        </label>
                    </div>

                </div>

                <div class="content">

                    <div class="playlists-info">

                        <div class="num-add-filter">
                            <span>#</span>
                        </div>

                        <div class="platform-filter">
                            <span>Title</span>
                        </div>

                        <div class="tracks-filter">
                            <span>Songs</span>
                        </div>

                        <div class="public-filter">
                            <span>Type</span>
                        </div>

                    </div>

                    {% for playlist in playlists_spotify.items %}
                        <div class="playlist">

                            <div class="num-add">
                                <span class="num-span">{{ forloop.counter }}</span>
                                <label class="select-div select-playlist">
                                    <input type="checkbox" class="select-all"></input>
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="platform">
                                <img src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="spotify">
                                <div class="playlist-title">
                                    <p>{{ playlist.name }}</p>
                                    <span title="Explicit">E</span>
                                    <span>{{ playlist.owner.display_name }}</span>
                                </div>
                            </div>

                            <div class="tracks">
                                <span>{{ playlist.tracks.total }} songs</span>
                            </div>

                            <div class="public">
                                <span>
                                    {% if playlist.public %}
                                        Public
                                    {% else %}
                                        Private
                                    {% endif %}
                                </span>
                            </div>

                        </div>
                    {% endfor %}

                    <div class="playlist">

                        <div class="num-add">
                            <span class="num-span">{{ 1 }}</span>
                            <label class="select-div select-playlist">
                                <input type="checkbox" class="select-all"></input>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="platform">
                            <img src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="spotify">
                            <div class="playlist-title">
                                <p>{{ Mix }} Mix</p>
                                <span title="Explicit">E</span>
                                <span>You</span>
                            </div>
                        </div>

                        <div class="tracks">
                            <span>{{ 203 }}</span>
                        </div>

                        <div class="public">
                            <span>Private</span>
                        </div>

                    </div>
                
                </div>

            </main>
        </div>
            
    </div>

</body>
</html>