{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'soundit/media/logo.png' %}">
    
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'soundit/css/profile.css' %}">

    <title>Soundit | Profile</title>
</head>
<body>

    <div class="profile">

        <div class="responsive-nav">

            <!-- Services Section -->

            <div class="services-wrapper">
                
                <div class="logo">
                    <img src="{% static 'soundit/media/logo.png' %}" alt="logo">
                </div>

                <div class="services">

                    <div>
                        {% if general.services.is_spotify_connected %}
                            <div class="service">
                                <img src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="spotify">
                            </div>
                        {% endif %}
                        {% if general.services.is_spotify_connected %}
                            <div class="service">
                                <img src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="youtube">
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        <div class="services-to-connect">
                            {% if general.services.is_spotify_connected == False %}
                                <div class="service" id="add-spotify">
                                    <img src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="spotify">
                                </div>
                            {% endif %}
                            {% if general.services.is_youtube_connected == False %}
                                <div class="service" id="add-youtube">
                                    <img src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="youtube">
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="add-service service" title="Add service">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>


                </div>
            
            </div>
            
            <!-- Nav Section -->

            <div class="nav-wrapper">

                <div class="account">
                    <div>
                        <i class="fa-solid fa-circle-user"></i>
                        <span>{{ general.user.username }}</span>
                    </div>
                    <div class="settings-btn" id="settings-btn">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                </div>
                
                <nav class="nav">

                    <div class="library">

                        <div class="lib-divider">
                            <span>Library</span>
                        </div>

                        <div class="lib-div">
                            <span>Playlists</span>
                            <div class="lib-num">{{ general.total.playlists }}</div>
                        </div>
                        <div class="lib-div">
                            <span>Tracks</span>
                            <div class="lib-num">{{ general.total.tracks }}</div>
                        </div>

                    </div>

                    <div class="library library-spotify">

                        <div class="lib-divider">
                            <span>Spotify</span>
                        </div>

                        <div class="lib-div">
                            <span>Spotify playlists</span>
                            <div class="lib-num">{{ general.spotify.playlists }}</div>
                        </div>
                        <div class="lib-div">
                            <span>Spotify tracks</span>
                            <div class="lib-num">{{ general.spotify.tracks }}</div>
                        </div>

                    </div>

                    <div class="library library-youtube">

                        <div class="lib-divider">
                            <span>YouTube</span>
                        </div>

                        <div class="lib-div">
                            <span>YouTube playlists</span>
                            <div class="lib-num">{{ general.youtube.playlists }}</div>
                        </div>
                        <div class="lib-div">
                            <span>YouTube tracks</span>
                            <div class="lib-num">{{ general.youtube.tracks }}</div>
                        </div>

                    </div>

                    <div class="statistics">

                        <div class="stats-divider">
                            <span>Statistics</span>
                        </div>

                        <div class="stats-div">
                            <span>Transfered playlists</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>
                        <div class="stats-div">
                            <span>Transfered tracks</span>
                            <div class="stats-num">{{ 0 }}</div>
                        </div>

                    </div>

                </nav>

            </div>

        </div>
    
        <!-- Main Section -->

        <div class="main-wrapper">
            <main class="main">

                <div class="header">

                    <label for="toggle-mobile-nav" class="hamburger">
                        <input type="checkbox" id="toggle-mobile-nav">
                        <i class="fa-solid fa-bars" id="menu-icon"></i>
                    </label>

                    <div>
                        <h2>Playlists</h2>
                        <h5>
                            {{ general.total.playlists }} total | <span id="number-of-selected"></span> selected
                        </h5>
                    </div>
                            
                </div>

                <div class="header2">
                    
                    <div class="header2-container">
                        <label class="select-div" title="Select all">
                            <input type="checkbox" class="select-all"></input>
                            <span class="checkmark"></span>
                        </label>
                        <div class="playlist-options">
                            <button type="button" id="convert-btn" class="playlist-option" title="Convert">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            </button>
                            <button type="button" id="delete-btn" class="playlist-option" title="Delete">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label for="searchPlaylist" class="search-playlist">
                            <div class="input-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <input id="searchPlaylist" type="text" placeholder="Search">
                        </label>
                    </div>

                </div>

                <div class="content">

                    <div class="playlists-info">

                        <div class="num-add-filter">
                            <span>#</span>
                        </div>

                        <div class="platform-filter">
                            <span>Title</span>
                        </div>

                        <div class="tracks-filter">
                            <span>Songs</span>
                        </div>

                        <div class="public-filter">
                            <span>Type</span>
                        </div>

                    </div>

                    <div class="scroll-bar">

                        {% for playlist in playlists_spotify.items %}
                        <div class="playlist" data-service="spotify" data-playlistid="{{ playlist.id }}" data-playlistname="{{ playlist.name }}" data-playlistdescription="{{ playlist.description }}">
                            
                            <div class="num-add">
                                <span class="num-span">{{ forloop.counter }}</span>
                                <label class="select-div select-playlist">
                                    <input type="checkbox" class="playlist-checkbox"></input>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <div class="platform">
                                <img src="{% static 'soundit/media/mini-logo/spotify-svgrepo-com.svg' %}" alt="spotify">
                                <div class="playlist-title">
                                    <p>{{ playlist.name }}</p>
                                    <span title="Explicit">E</span>
                                    <span>{{ playlist.owner.display_name }}</span>
                                </div>
                            </div>
                            
                            <div class="tracks">
                                <span>{{ playlist.tracks.total }} songs</span>
                            </div>
                            
                            <div class="public">
                                <span>
                                    {% if playlist.public %}
                                    Public
                                    {% else %}
                                    Private
                                    {% endif %}
                                </span>
                            </div>
                            
                        </div>
                        {% endfor %}
                        
                        {% for playlist in playlists_youtube.items %}
                        <div class="playlist" data-service="youtube" data-playlistid="{{ playlist.id }}" data-playlistname="{{ playlist.snippet.title }}" data-playlistdescription="{{ playlist.snippet.description }}">
                            
                            <div class="num-add">
                                <span class="num-span">{{ forloop.counter|add:playlists_spotify.total }}</span>
                                <label class="select-div select-playlist">
                                    <input type="checkbox" class="playlist-checkbox"></input>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <div class="platform">
                                <img src="{% static 'soundit/media/mini-logo/youtube-svgrepo-com.svg' %}" alt="spotify">
                                <div class="playlist-title">
                                    <p>{{ playlist.snippet.title }}</p>
                                    <span title="Explicit">E</span>
                                    <span>{{ playlist.snippet.channelTitle }}</span>
                                </div>
                            </div>
                            
                            <div class="tracks">
                                <span>{{ playlist.contentDetails.itemCount }} songs</span>
                            </div>
                            
                            <div class="public">
                                <span><!-- {{ playlist.status.privacyStatus }} --> Private</span>
                            </div>
                            
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>

            </main>
        </div>
            
        <!-- modal -->

        <div class="modal-overlay">
            
            <!-- modal convert playlist (step 1) -->
            <div class="modal-container-convert" id="modal-container-convert">
                <div class="modal-container">

                    <button class="modal-close-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    
                    <h3>CONVERT YOUR PLAYLIST</h3>

                    <div class="convert-content">
                        
                        <div class="form-group">
                            <label for="title">
                                <span>Title</span>
                                <div class="input-icon">
                                    <i class="fa-solid fa-t"></i>
                                </div>
                                <input type="text" id="title" name="title" autofocus required>
                            </label>
                        </div>
                        
                        <div class="form-group">
                            <label for="description">
                                <span>Description</span>
                                <div class="input-icon">
                                    <i class="fa-solid fa-d"></i>
                                </div>
                                <textarea name="description" id="description"></textarea>
                            </label>
                        </div>
                        
                        <div class="form-group privacy-group">
                            <div>
                                <span>Privacy&nbsp;</span>(check to set as public)
                            </div>
                            <label class="select-div select-playlist">
                                <input type="checkbox" id="privacy-status"></input>
                                <span class="checkmark"></span>
                            </label>
                        </div>

                        <div class="convert-info">
                            Transfer from
                            </br>
                            <span id="convert-from" class="service-name"></span> to
                            <span id="convert-to" class="service-name"></span>
                        </div>

                    </div>

                    <button class="modal-next-btn modal-confirm-btn" value="next">
                        NEXT
                    </button>
                    
                </div>
            </div>
            
            <!-- modal convert playlist (step 2) -->
            <div class="modal-container-convert" id="modal-container-tracks">
                <div class="modal-container">
                    
                    <button class="modal-close-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>

                    <h3>SELECT TRACKS TO TRANSFER</h3>
                    
                    <div>
                        <span id="tracks-total">283</span> total | <span id="tracks-selected">283</span> selected
                    </div>

                    <div class="convert-content" id="tracks-container">
                                                
                        <div class="track-container">

                            <div class="num" id="track-number">...</div>
                            
                            <div class="platform">
                                <img id="track-image" src="" alt="track image">
                                <div class="playlist-title">
                                    <p id="track-title">...</p>
                                    <span title="Explicit">E</span>
                                    <span id="track-artists">...</span>
                                </div>
                            </div>
                            
                            <div class="track-check">
                                <label class="select-div select-playlist">
                                    <input class="track-checkbox" type="checkbox"></input>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                                
                        </div>

                    </div>

                    <button class="modal-convert-btn modal-confirm-btn" value="convert">
                        CONVERT
                    </button>

                </div>
            </div>

            <!-- modal convert playlist (step 3) -->
            <div class="modal-container-convert" id="modal-container-failed">
                <div class="modal-container">
                    
                    <button class="modal-close-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>

                    <h3>CONVERT YOUR PLAYLIST</h3>

                    <div class="convert-content">
                        
                        <h2>TRACKS THAT COULDN'T BE TRANSFERED</h2>

                        <div>track 1</div>
                        <div>track 2</div>
                        <div>track 3</div>
                        <div>track 4</div>
                        <div>track 5</div>

                    </div>

                    <button class="modal-failed-btn modal-confirm-btn" value="close">
                        CLOSE
                    </button>

                </div>
            </div>

            <!-- modal delete playlist -->
            <div class="modal-container-delete">
                <div class="modal-container">

                    <button class="modal-close-btn">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    
                    <h3>ARE YOU SURE</h3>
                    <p>Confirm that you want to delete selected playlists from your library.</p>
                    
                    <button class="modal-delete-btn">
                        DELETE
                    </button>

                </div>
            </div>
                
        </div>

        <!-- modal settings
        <div class="modal-container-settings">
    
            <h3>Settings</h3>
            <button class="modal-close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
            
        </div> -->

    </div>

    <!-- JavaScript -->
    <script type="module" src="{% static 'soundit/js/profile.js' %}"></script>

</body>
</html>