.container {
    width: 100%;
    display: flex;
}

/* ===== Section 1 (hero) ===== */
.section-1 {
    width: 100%;
    height: 672px;
    background-image: radial-gradient(
        circle,
        rgb(40, 44, 57),
        rgb(38, 42, 55),
        rgb(36, 40, 53),
        rgb(34, 38, 51),
        rgb(34, 38, 51),
        rgb(34, 38, 51),
        rgb(34, 38, 51),
        rgb(34, 38, 51)
    );
    padding-top: 70px;
    display: flex;
    align-items: center;
}

.section-1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.section-1 h1 {
    width: 90%;
    color: var(--white);
    font-size: 52px;
    text-align: center;
    margin-top: 162px;
}

.section-1 h3 {
    width: 90%;
    color: var(--grey);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
}

.spotify {
    color: #1DB954;
    font-size: inherit;
    margin: 0;
}

.youtube {
    color: #ff0000;
    font-size: inherit;
    margin: 0;
}

.app-info {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.app-info div {
    max-width: 380px;
    margin: 0 24px;
    text-align: center;
}

.app-info span {
    color: var(--grey);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.app-info i {
    color: var(--grey);
    font-size: 18px;
    margin-right: 6px;
}

/* ===== Section 2 (music services) ===== */

.section-2 {
    width: 100%;
    height: 300px;
    background-color: var(--bg);
    display: flex;
}

.section-2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 .logos-title {
    position: relative;
    color: var(--grey);
}

.section-2 .logos-title::before,
.section-2 .logos-title::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: var(--grey);
    top: 50%;
    position: absolute;
    opacity: .2;
}

.section-2 .logos-title::before {
    left: -75%;
}

.section-2 .logos-title::after {
    right: -75%;
}


.logos-div {
    position: relative;
    width: 100%;
    margin-top: 24px;
    display: flex;
    overflow: hidden;
}

.logos-div:hover .logos-track {
    animation-play-state: paused;
}

.logos-track {
    display: flex;
    animation: slide 30s infinite linear;
}

.logo-element {
    position: relative;
    width: 18vw;
    height: 140px;
    border-radius: 10px;
    background: linear-gradient(-30deg, rgba(25, 29, 39) 12%, hsla(0, 0%, 100%, .2));
    margin: 12px;
    display: flex;
    align-items: center;
    box-shadow: 5px 6px 12px -10px rgba(25, 29, 39, 1);
}

.logo-img {
    width: 100%;
    height: 70px;
    fill: white;
}

/* ===== Section 3 (wave-top) ===== */

.section-3 {
    width: 100%;
}

.section-3 svg {
    width: inherit;
}

/* ===== Section 4 (available convertions) ===== */

.section-4 {
    height: 1000px;
    background-color: var(--white);
}

.section-4 .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-info {
    text-align: center;
    color: var(--black);
}

.services-info .amount {
    color: var(--primary);
    font-size: 36px;
}

.services-info h2 {
    font-size: 36px;
    margin-bottom: 16px;
}

.services-info p {
    font-size: 18px;
    margin-bottom: 24px;
}

.search-service {
    position: relative;
    width: min(1000px, 95%);
    height: 60px;
    border: 1px solid var(--grey);
    border-radius: 12px;
    margin-bottom: 12px;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    display: grid;
    place-items: center;
}

.fa-magnifying-glass {
    font-size: 20px;
}

.search-service:hover {
    border-color: var(--black);
}

#searchService {
    width: calc(100% - 60px);
    border-radius: 0 12px 12px 0;
    height: 100%;
    margin-left: 60px;
    padding: 16px 22px 16px 0;
    font-size: 20px;
    border: none;
    outline: none;

}

.services-div {
    width: min(1000px, 95%);
    height: 480px;
}

.service-link {
    display: block;
    height: 80px;
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid rgb(240, 240, 240);
    transition: height .1s ease, padding .1s ease;
}

.service-link:last-of-type {
    border-bottom: none;
}

.service {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-link:hover {
    height: 100px;
    padding: 0 12px;
    background-color: rgb(250, 250, 250);
}


.service div {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini-logo {
    width: 60px;
    height: 60px;
}

.service-btn {
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    margin-left: 12px;
    padding: 12px;
    background-color: var(--white);
    width: 130px;
    transition: .2s ease;
}

.service-btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

/* ===== Section 5 (wave-bottom) ===== */

.section-5 {
    width: 100%;
}

.section-5 svg {
    width: inherit;
}

/* ===== Section 6 (testimonials) ===== */

.section-6 {
    width: 100%;
    height: 700px;
    background-color: var(--bg);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.reviews-box input {
    display: none;
}

.cards {
    position: relative;
    height: 500px;
    width: 400px;
    margin-top: 180px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .5s ease;
}

.cards .card {
    position: relative;
    height: 300px;
    width: 400px;
    background-color: var(--second);
    border-radius: 12px;
    padding: 32px;
    color: var(--light-grey);
    display: flex;
    flex-direction: column;
}

.card-text {
    font-size: 20px;
    height: 200px;
    z-index: 1;
}

.card-author {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 6px;
}

.card-rating {
    text-align: center;
    color: orange;
    font-size: 24px;
}

.fa-quote-left,
.fa-quote-right {
    position: absolute;
    font-size: 52px;
    color: var(--fourth);
}

.fa-quote-left {
    left: 20px;
    top: 10px;
}

.fa-quote-right {
    right: 24px;
    bottom: 104px;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, .5);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    transform: translate3d(35%, 0, -120px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    transform: translate3d(70%, 0, -220px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    transform: translate3d(-70%, 0, -220px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    transform: translate3d(-35%, 0, -120px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

/* ===== Section 7 (songs transfered) ===== */

.section-7 {
    width: 100%;
    height: 300px;
    background-color: var(--light-grey);
}

/*
=========================
    Animations
=========================
*/

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/*
=========================
	Responsive Design
=========================
*/

@media all and (max-width: 1200px) {
    /* === Section 1 (hero) === */
    .section-1 h1 {
        font-size: 42px;
    }

    /* === Section 2 (available services) === */
}

@media all and (max-width: 992px) {
    /* === Section 1 (hero) === */

    /* === Section 6 (testimonials) === */
    #s1:checked~.cards #slide1,
    #s2:checked~.cards #slide2,
    #s3:checked~.cards #slide3,
    #s4:checked~.cards #slide4,
    #s5:checked~.cards #slide5 {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 25px 50px rgba(0, 0, 0, .5);
    }
    
    #s1:checked~.cards #slide2,
    #s2:checked~.cards #slide3,
    #s3:checked~.cards #slide4,
    #s4:checked~.cards #slide5,
    #s5:checked~.cards #slide1 {
        transform: translate3d(0, 35%, -120px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
    }
    
    #s1:checked~.cards #slide3,
    #s2:checked~.cards #slide4,
    #s3:checked~.cards #slide5,
    #s4:checked~.cards #slide1,
    #s5:checked~.cards #slide2 {
        transform: translate3d(0, 70%, -220px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    }
    
    #s1:checked~.cards #slide4,
    #s2:checked~.cards #slide5,
    #s3:checked~.cards #slide1,
    #s4:checked~.cards #slide2,
    #s5:checked~.cards #slide3 {
        transform: translate3d(0, -70%, -220px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    }
    
    #s1:checked~.cards #slide5,
    #s2:checked~.cards #slide1,
    #s3:checked~.cards #slide2,
    #s4:checked~.cards #slide3,
    #s5:checked~.cards #slide4 {
        transform: translate3d(0, -35%, -120px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, .5);
    }

}

@media all and (max-width: 768px) {
    /* === Section 1 (hero) === */
    .section-1 h1 {
        font-size: 36px;
    }
    
    .app-info {
        flex-direction: column;
        margin-top: 80px;
    }
    
    .app-info div {
        margin: 10px 0;
    }
    
    /* === Section 2 (available services) === */
    .logo-element {
        width: 140px;
    }
    
    /* === Section 4 (available convertions) === */
    .service div {
        width: 300px;
    }
    
    .service span {
        font-size: 18px;
    }

    .mini-logo {
        width: 52px;
        height: 52px;
    }
}

.nowrap {
    white-space: nowrap;
}
