:root {
    --white: #fff;
    --light-grey: #dfe7ec;
    --grey: rgb(172, 177, 193);
    --black: #000;

    --bg2: rgb(25, 29, 39);
    --bg: rgb(34, 38, 51);
    
    --primary: #7858A6;
    --second: #5B4B8A;
    --third: #4C3575;
    --fourth: #371B58;
    --fifth: #802bb1;
    
    --red: #ea2a1b;
    --red2: #D14836;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

/* ===== Nav Top ===== */

header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(25, 29, 39, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 1;
}

.nav ul {
    display: flex;
}

.nav li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
}

/* .nav li::after,
.nav li:last-child::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--grey);
    bottom: 99%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: .2;
}

.nav li:last-child::before {
    top: 100%;
} */

.nav li a {
    text-decoration: none;
    color: var(--light-grey);
    font-size: 16px;
    padding: 8px;
    font-weight: 600;
    transition: .2s ease;
}

.nav li:nth-child(1) a:hover, 
.nav li:nth-child(2) a:hover {
    color: var(--grey);
}

.hamburger {
    display: none;
    cursor: pointer;
    right: 0;
}

.fa-bars,
.fa-xmark {
    color: var(--white);
    font-size: 32px;
}

#toggle-mobile-nav {
    display: none;
}

.btn-login,
.btn-getStarted {
    border: 2px solid var(--primary);
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    margin-left: 12px;
    transition: .2s ease;
}

.btn-login {
    background-color: transparent;
    width: 100px;
}

.btn-login:hover {
    background-color: var(--primary);
}

.btn-getStarted {
    background-color: var(--primary);
    width: 130px;
}

.btn-getStarted:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--primary);
}

.logo {
    color: var(--white);
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
}

.header-scrolled {
    background-color: var(--bg);
}

/* ===== Footer ===== */

footer {
    width: 100%;
}

.footer-nav {
    height: 160px;
    background-color: var(--bg);
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo img {
    width: 52px;
    height: 48px;
}

.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links li {
    list-style: none;
    padding: 12px;
}

.footer-links li a {
    color: var(--light-grey);
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    transition: .2s ease;
}

.footer-links li a:hover {
    color: var(--grey)
}

.footer-cr {
    height: 50px;
    background-color: var(--bg2);
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cr-items a, .cr-items span {
    color: var(--light-grey);
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
    transition: .2s ease;
}

.cr-socials a {
    text-decoration: none;
    margin-left: 12px;
}

.cr-items a:hover {
    color: var(--grey);
}

.cr-socials i {
    color: var(--white);
}

.color {
    width: 100px;
    height: 100px;
}

/*
=========================
	Responsive Design
=========================
*/

@media all and (max-width: 992px) {
    .fa-xmark {
        display: none;
    }
    
    #toggle-mobile-nav:checked~.hamburger #menu-icon {
        display: none;
    }

    #toggle-mobile-nav:checked~.hamburger #close-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 25%;
        height: 0;
        background-color: rgba(25, 29, 39, 1);
        user-select: none;
        transition: .8s ease;
        overflow: hidden;
    }

    #toggle-mobile-nav:checked~.nav {
        height: 100vh;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav li {
        height: 70px;
        transform: translateY(-70px);
        transition: 0.3s ease;
        opacity: 0;
    }

    .nav a {
        margin: 0;
    }

    #toggle-mobile-nav:checked~.nav li {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
    }

    .hamburger {
        display: block;
    }
}

@media all and (max-width: 600px) {
    .footer-cr {
        height: 80px;
        flex-direction: column;
        padding: 16px;
    }
}

/*
=========================
	JavaScript Classes
=========================
*/

.display-block {
    display: block;
}
